<!--SPDX-License-Identifier: BSD-3-Clause-->
<!--
tools_list.html

(C) Copyright 2020 Friedrich Luetze GmbH, S. Strobel, S. Hentges, J. Luelsdorf <lsd@luetze.de>

-->
{% extends "lsd/base.html" %}
{% block content %}
    {% for tool in tools %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{%url tool-version-list %}">{{ tool }}</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}